<article>
	<header>Block Formatting Context</header>
	<p>CSS背后居然站着BFC这种大神！</p>
	<p>关于BFC很多IT博主都崇拜过，作为一个菜鸟今天终于鼓起了勇气，我也来走进大神、模仿大神看是不是能提升我CSS的功力！</p>
	<p>google后首先发现的是这篇文章<a href="http://www.w3.org/html/ig/zh/wiki/CSS2/visuren#block-formatting" target="_blank">Block formatting contexts</a>，我觉得翻译的真用心，所以也用心看了下。</p>
	<p>我得到这么些信息：</p>
	<ol>
		<li>BFC是属于正常排版（Normal flow）,因此它会一个接一个的垂直摆放。</li>	
		<li>在同一个BFC里，相邻块margin的top和bottom会折叠。</li>
		<li>在BFC里，每个块会紧贴父块的左侧，浮动也不会改变,除非创建新的BFC。</li>
		<li>创建新的BFC是要有条件的。</li>
	</ol>
	<p>创建新的BFC的具体条件：</p>
	<ol>
		<li>能产生浮动框属性，float: left | right | inherit</li>
		<li>产生绝对定位框的属性，position: absolute | fixed</li>
		<li>产生非块框的块容器的属性，display: inline-blocks | table-cells | table-captions</li>
		<li>overflow属性的非'visible'块框，overflow: hidden | scroll | auto | inherit</li>
	</ol>
	<p>嗯，这货的作用以后慢慢发掘，此篇原理放此备查！</p>
	<p>对了IE这货有自己的私有属性叫hasLayout跟BFC的功能类似</p>
	<pclass="y-corre">参考资料:</p>
	<p class="y-corre"><a href="http://www.w3.org/html/ig/zh/wiki/CSS2/visuren">http://www.w3.org/html/ig/zh/wiki/CSS2/visuren</a></p>
	<p>相关文章：</p>
	<p class="y-corre"><a href="http://www.qianduan.net/comprehensive-haslayout.html" target="_blank">haslayout综合</a></p>
	<p class="y-corre"><a href="http://www.w3ctech.com/p/1101" target="_blank">更加直观地了解hasLayout和BFC</a></p>
	<p class="y-corre"><a href="http://kayosite.com/block-formatting-contexts-in-detail.html" target="_blank">详说 Block Formatting Contexts (块级格式化上下文)</a></p>
</article>