<article>
	<header>一道前端笔试题-图文混排</header>
	<p>根据下图，写出html和css:</p>
	<p><img src="images/pictxt.png" /></p>
	<p>图文混排在各种类型的网站中都能见到，因此这道笔试题看起来确实是在考察一个前端在页面布局上的基本能力。</p>
	<p>我起初也是这样认为，直到在<a href="http://hikejun.com/" target="_blank">@kejun</a>博客里看到<a href="http://hikejun.com/blog/2011/10/26/近期面试感受/" target="_blank">近期面试感受</a>这篇文章。</p>
	<p>常规的做法就不提了，看看<a href="http://hikejun.com/" target="_blank">@kejun</a>的做法</p>
	<p>html:</p>
	<pre>
	&lt;div class="item">
	    &lt;div class="pic">...&lt;/div>
	    &lt;div class="content">...&lt;/div>
	&lt;/div>
	</pre>
	<p>css:</p>
	<pre>
.item .pic { float:left;margin-right:10px; }
.item .content { overflow:hidden;zoom:1; }
	</pre>
	<p>嗯，猛一看overflow:hidden是干嘛的？不正是用来触发BFC的么，这篇<a href="#/detail/block-formatting-context">Block Formatting Context</a>有了实践。</p>
</article>